page-about {
    text-align: center;
    h2, p{
        padding-bottom: 20px;
    }
    img{
        margin-top: 15px;
        padding: 15px;
        width: 60%;
        border: 3px solid grey;
    }
}

