page-home {
  text-align: center;

  #notConnected{
    margin-top: 40%;
  }

  img {
    margin-top: 15px;
    padding: 15px;
    width: 60%;
    border: 3px solid grey;
  }
  button {
    margin-bottom: 20px;
  }
}
